@charset "UTF-8";

h1 { 
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-style: italic;
}

h2 { 
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-style: italic;
	font-color: #525659;
}

h3 { 
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-style: italic;
	font-color: #525659;
}

p { 
	font-size: 1.2em;
}

p, li {
	font-family: 'Roboto slab', helvetica;
	font-weight: 100;
	font-color: #525659;
}

a {
	color: #02768B;
}

header {
	background-image: url(../images/rainwindow.jpg);
    background-size: cover;
    font-weight: 300;
	padding-bottom: 3%;
}

#logo {
	margin-top: 10%;
	width: 50%;
}

header h1 {
	font-size: 7em;
	font-style: italic;
	color: white;
}

header p {
	font-size: 1.3em;
	color: white;
}

#pdfButton {
	border-radius: 5px;
	background-color: #FFC407;
	padding: 4px;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-weight: 700;
}

.cppp-recs {
	background-color: #ffc407;
	padding-right: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
	-webkit-border-radius: 0px 30px 30px 0px;
	-moz-border-radius: 0px 30px 30px 0px;
	border-radius: 0px 30px 30px 0px;
}

#money {
	width: 100%;
}

#bio {
	font-size: .85em;	
}

#bottomlogo {
	width: 80%;
}

#twitter-logo {
	width: 14%;
}

#youtube-logo {
	width: 20%;
	margin-left: -3.8%;
}

#instagram-logo {
	width: 8%;
}

@media (max-width: 991px) {
	#twitter-logo {
	width: 8%;
}

#youtube-logo {
	width: 12%;
	padding-left: 1%;
}

#instagram-logo {
	width: 4.4%;
}
}

@media (max-width: 414px) {
	#twitter-logo {
	width: 15%;
}

#youtube-logo {
	width: 23%;
}

#instagram-logo {
	width: 8%;
}
}

@media (max-width: 414px) {
	#fb-logo {
	width: 8%;
}
}

