@charset "UTF-8";

h1 { 
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-style: italic;
}

h2 { 
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-style: italic;
	font-color: #525659;
}

h3 { 
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-style: italic;
	font-color: #525659;
}

p, li {
	font-family: 'Roboto slab', helvetica;
	font-weight: 100;
	font-color: #525659;
}

p { 
	font-size: 1.2em;
}

a {
	color: #02768B;
}

header {
	background-image: url(../images/rainwindow.jpg);
    background-size: cover;
    font-weight: 300;
	padding-bottom: 3%;
}

#logo {
	margin-top: 10%;
	width: 50%;
}

header h1 {
	font-size: 7em;
	font-style: italic;
	color: white;
}

header p {
	font-size: 1.3em;
	color: white;
}

#pdf-version a {
	background-color: white;
	padding: 5px;
	border-radius: 10px;
	font-family: 'Roboto', sans-serif;
}

#cppp-recs {
	background-color: #ffc407;
	padding-right: 1%;
	-webkit-border-radius: 0px 30px 30px 0px;
	-moz-border-radius: 0px 30px 30px 0px;
	border-radius: 0px 30px 30px 0px;
}

#money {
	width: 100%;
}

#bio {
	font-size: .85em;	
}

@media (max-width: 418px) {
	header h1 {
		font-size: 4.5em;
	}
	
	#logo {
		width: 100%;
	}
}
