@charset "UTF-8";

h1 { 
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-style: italic;
	font-color: #525659;
}

h2 { 
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-style: italic;
	font-color: #525659;
}

h3 { 
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-style: italic;
	font-color: #525659;
}

p, li {
	font-family: 'Roboto slab', helvetica;
	font-weight: 100;
	font-color: #525659;
}

p { 
	font-size: 1.2em;
}

a {
	color: #02768B;
}

header {
	background-image: url(../images/rainwindow.jpg);
    background-size: cover;
    color: white;
    font-weight: 300;
    padding-bottom: 11%;
}

#logo {
	margin-top: 10%;
	width: 50%;
}

header h1 {
	font-size: 7em;
	font-style: italic;
}

header p {
	font-size: 1.3em;
}

#cppp-recs {
	background-color: #ffc407;
	padding-right: 1%;
	
}

